<div class="columns">
  <div class="column">
    <%= link_to new_user_permission_path, class: "button is-success in-mobile-expand" do %>
      <span class="icon">
        <i class="ion-plus-round"></i>
      </span>
      <span>Adicionar Permissão</span>
    <% end %>
  </div>
  <div class="column">
    <% show_search_error_message(@permission, params) %>
    <% #= render 'layouts/search', path: user_permission_index_path, v: attr_order(@permission) %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuário</th>
      <th>Modelo</th>
      <th>Permissões</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @permissions.each do |permission| %>
    <tr>
      <td><%= permission.id %></td>
      <td><%= permission.user %></td>
      <td><%= permission.entity %></td>
      <td>eee</td>
      <td class="has-text-right">
        <div class="dropdown">
          <span class="button is-danger in-mobile-expand">Ações</span>
          <div class="dropdown-content">
            <%= link_to edit_user_permission_path(user), class: 'button is-success in-mobile-expand' do %>
              <span class="icon">
                <i class="ion-edit"></i>
              </span>
              <span>Editar</span>
            <% end %>
            <%= link_to user_permission_path(user), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'button is-danger in-mobile-expand', disabled: user.is_current?(current_user) do %>
              <span class="icon">
                <i class="ion-close"></i>
              </span>
              <span>Excluir</span>
            <% end %>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @permissions %>
